Timesheet/main/default/flows/Absence_management_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Employee_Email_Alert</name>
        <label>Employee Email Alert</label>
        <locationX>264</locationX>
        <locationY>1692</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >IteratethroughEmployees.User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Employee_Notification</name>
        <label>Employee Notification</label>
        <locationX>264</locationX>
        <locationY>1932</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Manager_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference
        >Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Emp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Emp_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>IteratethroughEmployees.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Manager_Email_Alert</name>
        <label>Manager Email Alert</label>
        <locationX>264</locationX>
        <locationY>1812</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Employee_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference
        >IteratethroughEmployees.Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Vacation Limit Exceeded for {!IteratethroughEmployees.Name}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Manager_Notification</name>
        <label>Manager Notification</label>
        <locationX>264</locationX>
        <locationY>2052</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Number_of_Vacations_taken</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference
        >Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Manager Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Mng_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>IteratethroughEmployees.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Duration_Value</name>
        <label>Assign Duration Value</label>
        <locationX>396</locationX>
        <locationY>2508</locationY>
        <assignmentItems>
            <assignToReference>Duration_copy_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Duration_Var</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Duration_copy_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Values_from_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Ids</name>
        <label>Collect Ids</label>
        <locationX>396</locationX>
        <locationY>1452</locationY>
        <assignmentItems>
            <assignToReference>Emp_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >IteratethroughEmployees.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >IteratethroughEmployees.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Accrued_Vacation_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Updated_Records</name>
        <label>Collect Updated Records</label>
        <locationX>396</locationX>
        <locationY>2388</locationY>
        <assignmentItems>
            <assignToReference>Updated_No_of_vacations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IteratethroughEmployees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Duration_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Absence_Duration</name>
        <label>Get Absence Duration</label>
        <locationX>484</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Iterate_through_Timesheets.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Values_from_Collection</name>
        <label>Remove Values from Collection</label>
        <locationX>396</locationX>
        <locationY>2628</locationY>
        <assignmentItems>
            <assignToReference>Emp_Id_Copy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Emp_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Emp_Id</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Emp_Id_Copy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Id_Copy</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Mng_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Id</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Mng_Id_Copy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IteratethroughEmployees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Number_of_Vacations_taken</name>
        <label>Update Number of Vacations taken</label>
        <locationX>396</locationX>
        <locationY>2268</locationY>
        <assignmentItems>
            <assignToReference
      >IteratethroughEmployees.No_of_Vacations_Taken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dur_to_Day_Conv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Updated_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Respective_Employee_Time_Sheets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Respective Employee Time Sheets</label>
        <locationX>396</locationX>
        <locationY>996</locationY>
        <assignNextValueToReference
    >currentItem_Get_Respective_Employee_Time_Sheets</assignNextValueToReference>
        <collectionProcessorType
    >FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Time_Sheets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference
      >currentItem_Get_Respective_Employee_Time_Sheets.Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>IteratethroughEmployees.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Accrued_Vacation_Days</name>
        <label>Check Accrued Vacation Days</label>
        <locationX>396</locationX>
        <locationY>1572</locationY>
        <defaultConnector>
            <targetReference>Update_Number_of_Vacations_taken</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference
          >Get_Metadata_Type.Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference
          >IteratethroughEmployees.No_of_Vacations_Taken__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Email_Alert</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Dur_to_Day_Conv</name>
        <dataType>Number</dataType>
        <expression
    >{!Duration_Var} / {!Get_Metadata_Type.Working_Hours_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel
  >Absence management STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Absence management STF</label>
    <loops>
        <name>Iterate_through_Timesheets</name>
        <label>Iterate through Timesheets</label>
        <locationX>396</locationX>
        <locationY>1116</locationY>
        <collectionReference
    >Get_Respective_Employee_Time_Sheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Absence_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IteratethroughEmployees</name>
        <label>Iterate through Employees</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Get_Respective_Employee_Time_Sheets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IteratethroughEmployees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Sheet_Vacation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Time_Sheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Type</name>
        <label>Get Metadata Type</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timesheet_Default_Value__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Time_Sheets</name>
        <label>Get Time Sheets</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Un Planned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet_Line_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue />
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employees</name>
        <label>Update Employees</label>
        <locationX>176</locationX>
        <locationY>2844</locationY>
        <inputReference>Updated_No_of_vacations</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-26</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emp_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!IteratethroughEmployees.Name}.
You have exceeded your vacation limit.
Allotted vacation leave : {!Get_Metadata_Type.Accrued_Vacation_Days__c}
No. Of Vacation Taken : {!Dur_to_Day_Conv}

Thanks,
System Admin</text>
    </textTemplates>
    <textTemplates>
        <name>Manager_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >Hi {!IteratethroughEmployees.Owner:User.Manager.FirstName} {!IteratethroughEmployees.Owner:User.Manager.LastName},

{!IteratethroughEmployees.Name} has exceeded the vacation limit.
Allotted Vacation Leave : {!Get_Metadata_Type.Accrued_Vacation_Days__c}
No. of vacation taken : {!Dur_to_Day_Conv}

Regards,
System Admin</text>
    </textTemplates>
    <variables>
        <name>currentItem_Collecting_User_Time_sheet</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_Employee_Time_Sheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_user_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_User_Collection_Under_Manager</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Duration</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Duration_copy_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Duration_Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Duration_Var_Copy</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Emp_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Emp_Id_Copy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mng_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mng_Id_Copy</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updated_No_of_vacations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
</Flow>
