Timesheet/main/default/flows/Absence_Management_STF_New.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Employee_Email_Alert</name>
        <label>Employee Email Alert</label>
        <locationX>264</locationX>
        <locationY>1824</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_through_Employees.User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>vaccation limit exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Employee_Notification</name>
        <label>Employee Notification</label>
        <locationX>264</locationX>
        <locationY>2040</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Manager_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Emp_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Emp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Manager_Email_Alert</name>
        <label>Manager Email Alert</label>
        <locationX>264</locationX>
        <locationY>1932</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Employee_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_through_Employees.Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>vaccation limit exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Manager_Notification</name>
        <label>Manager Notification</label>
        <locationX>264</locationX>
        <locationY>2148</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Clear_Collect_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Mng_Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Manager Notification</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Manager_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Clear_Collect_Ids</name>
        <label>Clear_Collect_Ids</label>
        <locationX>264</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>Emp_Id</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Emp_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Id</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Mng_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_of_vacation_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Ids</name>
        <label>Collect_Ids</label>
        <locationX>264</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>Emp_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Employees.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Mng_Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Employees.Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Absence_Duration</name>
        <label>Get Absence Duration</label>
        <locationX>484</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Timesheets.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Active_users_ID</name>
        <label>Store Active users ID</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Active_Users_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_user_ID_s.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_user_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Duration_Var_Zero</name>
        <label>Store_Duration_Var_Zero</label>
        <locationX>396</locationX>
        <locationY>2556</locationY>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zero</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Respective_Employee_Time_Sheets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Respective Employee Time Sheets</label>
        <locationX>396</locationX>
        <locationY>1200</locationY>
        <assignNextValueToReference>currentItem_Get_Respective_Employee_Time_Sheets</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Timesheet_Line_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Respective_Employee_Time_Sheets.Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Accrued_Vacation_Days</name>
        <label>Check Accrued Vacation Days</label>
        <locationX>396</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Update_No_of_vacation_days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Metadata_type.Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Employees.No_of_Vacations_Taken__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Ids</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Dur_to_Day_Conv</name>
        <dataType>Number</dataType>
        <expression>{!Duration_Var} / {!Get_Metadata_type.Working_Hours_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Next_Year</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 1, 1, 1)</expression>
    </formulas>
    <formulas>
        <name>This_Year</name>
        <dataType>Date</dataType>
        <expression>DATE( YEAR( TODAY() ), 1, 1 )</expression>
    </formulas>
    <interviewLabel>Absence Management STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Absence Management STF (New)</label>
    <loops>
        <name>Get_user_ID_s</name>
        <label>Get user ID&apos;s</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Active_users_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_through_Employees</name>
        <label>Iterate through Employees</label>
        <locationX>176</locationX>
        <locationY>1092</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Respective_Employee_Time_Sheets</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_through_Timesheets</name>
        <label>Iterate through Timesheets</label>
        <locationX>396</locationX>
        <locationY>1308</locationY>
        <collectionReference>Get_Respective_Employee_Time_Sheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Absence_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Accrued_Vacation_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Time_Sheet_Vacation_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Manager__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Active_Users_List</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employment_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Time</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_type</name>
        <label>Get Metadata type</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timesheet_Default_Value__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_Line_Items</name>
        <label>Get Timesheet Line Items</label>
        <locationX>176</locationX>
        <locationY>984</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND ( 4 AND 5)</filterLogic>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Un Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>This_Year</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Next_Year</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet_Line_Item__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_user_ID_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ManagerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_No_of_vacation_days</name>
        <label>Update No of vacation days</label>
        <locationX>396</locationX>
        <locationY>2448</locationY>
        <connector>
            <targetReference>Store_Duration_Var_Zero</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Vacations_Taken__c</field>
            <value>
                <elementReference>Dur_to_Day_Conv</elementReference>
            </value>
        </inputAssignments>
        <object>Employee__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Metadata_type</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-29</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Emp_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Iterate_through_Employees.Name}.
You have exceeded your vacation limit.
Allotted vacation leave : {!Get_Metadata_type.Accrued_Vacation_Days__c}
No. Of Vacation Taken : {!Dur_to_Day_Conv}

Thanks,
System Admin</text>
    </textTemplates>
    <textTemplates>
        <name>Manager_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Iterate_through_Employees.Owner:User.Manager.FirstName} {!Iterate_through_Employees.Owner:User.Manager.LastName},

{!Iterate_through_Employees.Name} has exceeded the vacation limit.
Allotted Vacation Leave : {!Get_Metadata_type.Accrued_Vacation_Days__c}
No. of vacation taken : {!Dur_to_Day_Conv}

Regards,
System Admin</text>
    </textTemplates>
    <variables>
        <name>Active_Users_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_Employee_Time_Sheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Duration_Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Emp_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Mng_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
