Timesheet/main/default/flows/Deactivating_employees_and_users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Deactivate_Employee_and_User</name>
        <label>Deactivate Employee and User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_employees.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeesToDeactivate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_employees</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_employees</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CheckingLastWorkingDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Deactivating employees and users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivating employees and users</label>
    <loops>
        <name>Loop_through_employees</name>
        <label>Loop through employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Employee_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Deactivate_Employee_and_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inactivating_employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Records</name>
        <label>Get Employee Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Working_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CheckingLastWorkingDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Inactivating_employees</name>
        <label>Inactivating employees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>EmployeesToDeactivate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee_Records</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-08</startDate>
            <startTime>08:57:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>sendingmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The deactivation of the user has failed.&lt;/p&gt;&lt;p&gt;User Info:&lt;/p&gt;&lt;p&gt;Name: {!Loop_through_employees.User__r.&lt;strong&gt;Name&lt;/strong&gt;}&lt;/p&gt;&lt;p&gt;Username: {!Loop_through_employees.User__r.&lt;strong&gt;Username&lt;/strong&gt;}&lt;/p&gt;&lt;p&gt;Email: {!Loop_through_employees.User__r.&lt;strong&gt;Email&lt;/strong&gt;}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check if this user is used in any settings like:&lt;/p&gt;&lt;p&gt;- Email Alerts&lt;/p&gt;&lt;p&gt;- Queues&lt;/p&gt;&lt;p&gt;- Approval Processes&lt;/p&gt;&lt;p&gt;- Scheduled Flows&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmployeesToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>UsersToDeactivate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
