Timesheet/main/default/flows/Duration_Limit_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Collect_Duration_Value</name>
        <label>Collect Duration Value</label>
        <locationX>534</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Timesheets.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collection_Value</name>
        <label>Update Collection Value</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record__Prior.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dur_Coll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duration_Value_Check_with_Working_hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Hours_Limit_exceeded</name>
        <label>Update Hours Limit exceeded</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hours_Limit_Exceeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Hours_Limit_exceeded_2</name>
        <label>Update Hours Limit exceeded</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hours_Limit_Exceeded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Duration_Value</name>
        <label>Check Duration Value</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Condition_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dur_Coll</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Custom_Meta_data.Maximum_Working_Hrs_Per_Day__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hours_Limit_exceeded_2</targetReference>
            </connector>
            <label>Condition Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prior_Duration_Value</name>
        <label>Check Prior Duration Value</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Check_Duration_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Triggered_record_has_prior_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Duration__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Collection_Value</targetReference>
            </connector>
            <label>Triggered record has prior value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duration_Value_Check_with_Working_hours</name>
        <label>Duration Value Check with Working hours</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Upd_Condition_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dur_Coll</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Custom_Meta_data.Maximum_Working_Hrs_Per_Day__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hours_Limit_exceeded</targetReference>
            </connector>
            <label>Upd Condition Matches</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Duration Limit RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Duration Limit RTF</label>
    <loops>
        <name>Iterate_through_Timesheets</name>
        <label>Iterate through Timesheets</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <collectionReference>Get_TimeSheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Duration_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Prior_Duration_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Meta_data</name>
        <label>Get Custom Meta data</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timesheet_Default_Value__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TimeSheets</name>
        <label>Get TimeSheets</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Meta_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timesheet__r.Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet_Line_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duration__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
        <queriedFields>Hours_Limit_Exceeded__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_TimeSheets</targetReference>
        </connector>
        <object>Timesheet_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dur_Coll</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
