Timesheet/main/default/flows/Employee_Name_RTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FName_MName_LName</name>
        <dataType>String</dataType>
        <expression>{!$Record.dbt__First_Name__c}+ &apos; &apos; + {!$Record.dbt__Middle_Name__c} + &apos; &apos; + {!$Record.dbt__Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Employee Name RTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Name RTF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Employee</name>
        <label>Update Employee</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Update_Manager_for_Employee</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FName_MName_LName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Manager_for_Employee</name>
        <label>Update Manager for Employee</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>$Record.User__r.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Employee</targetReference>
        </connector>
        <object>Employee__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
