Timesheet/main/default/flows/In_app_Guidence_using_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Assigning permission sets to users who have pending timesheet. Using Apex class.</description>
        <name>Assign</name>
        <label>Assign Permission sets</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <actionName>AssignPermissionSetViaFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>perSetAssignAll</name>
            <value>
                <elementReference>PermissionSetAssignments_All</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AssignPermissionSetViaFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Storing the newly created permission set assignment in a collection.</description>
        <name>all</name>
        <label>All user-permission sets</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignments_All</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetAssignment_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pending_Timesheet_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We are creating a permission set assignment record.</description>
        <name>Assignment_1</name>
        <label>Storing single user-permission set</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment_Single.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pending_Timesheet_Records.Employee__r.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment_Single.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permission_set.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>all</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Timesheet_record_present</name>
        <label>Timesheet record present?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Timesheet_record_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_This_Week_Timesheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_set</targetReference>
            </connector>
            <label>Record present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndOfWeek</name>
        <dataType>Date</dataType>
        <expression>{!StartOfWeek}+6</expression>
    </formulas>
    <formulas>
        <name>StartOfWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - MOD(TODAY() - DATE(1900,1,1), 7)</expression>
    </formulas>
    <interviewLabel>In-app Guidence using STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>In-app Guidence using STF</label>
    <loops>
        <name>Loop_Pending_Timesheet_Records</name>
        <label>Loop Pending Timesheet Records</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_This_Week_Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Permission_set</name>
        <label>Get Permission set</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Pending_Timesheet_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet_Reminder_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Week_Timesheets</name>
        <label>Get This Week Timesheets</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_record_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndOfWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_This_Week_Timesheets</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-05-16</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PermissionSetAssignment_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignments_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
