Timesheet/main/default/flows/In_app_Guidence_using_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Storing the newly created permission set assignment in a collection.</description>
        <name>All_user_permission_sets</name>
        <label>All user-permission sets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignments_All</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionSetAssignment_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Pending_Timesheet_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We are creating a permission set assignment record.</description>
        <name>Storing_single_user_permission_set</name>
        <label>Storing single user-permission set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment_Single.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Pending_Timesheet_Records.Employee__r.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment_Single.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Permission_set.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionSetAssignment_Single.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expiry_date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>All_user_permission_sets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionSetAssignments_All</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PermissionSetAssignment_Single</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Pending_Timesheet_Records</targetReference>
            </connector>
            <label>Already contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_assignment_already_present</name>
        <label>is assignment already present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Storing_single_user_permission_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assignment_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>assigned_ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Pending_Timesheet_Records.Employee__r.User__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Pending_Timesheet_Records</targetReference>
            </connector>
            <label>assignment present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timesheet_record_present</name>
        <label>Timesheet record present?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Timesheet_record_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_This_Week_Timesheets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_set</targetReference>
            </connector>
            <label>Record present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndOfWeek</name>
        <dataType>Date</dataType>
        <expression>{!StartOfWeek}+6</expression>
    </formulas>
    <formulas>
        <name>Expiry_date</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+3</expression>
    </formulas>
    <formulas>
        <name>StartOfWeek</name>
        <dataType>Date</dataType>
        <expression>TODAY() - MOD(TODAY() - DATE(1900,1,1), 7)</expression>
    </formulas>
    <interviewLabel>In-app Guidence using STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>In-app Guidence using STF</label>
    <loops>
        <name>Loop_Pending_Timesheet_Records</name>
        <label>Loop Pending Timesheet Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_This_Week_Timesheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_assignment_already_present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Permission_Set_Assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Permission_Set_Assignments</name>
        <label>Insert Permission Set Assignments</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>PermissionSetAssignments_All</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Permission_set</name>
        <label>Get Permission set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_set_assignment_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timesheet_Reminder_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_assignment_records</name>
        <label>Get Permission set assignment records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assigned_ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Week_Timesheets</name>
        <label>Get This Week Timesheets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Timesheet_record_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndOfWeek</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_This_Week_Timesheets</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2025-09-09</startDate>
            <startTime>08:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>assigned_ids</name>
        <label>assigned ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Pending_Timesheet_Records</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Permission_set_assignment_records[$EachItem].AssigneeId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>PermissionSetAssignment_Single</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionSetAssignments_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>