Timesheet/main/default/flows/Timesheets_Creation_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Timesheet_Masters_to_Collection</name>
        <label>Add Timesheet Masters to Collection</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TimesheetMasterRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Timesheet_Master</name>
        <label>Assign values to Timesheet Master</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Loop.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Loop.Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimesheetMasterRecord.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Timesheet_Masters_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>This scheduled trigger flow creates weekly Timesheet for each employee every Monday at 12:00 AM</description>
    <environments>Default</environments>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 6</expression>
    </formulas>
    <formulas>
        <name>Record_Name</name>
        <dataType>String</dataType>
        <expression>&quot;Timesheet for &quot; + TEXT({!startDate}) + &quot; to &quot;+ TEXT({!endDate})</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Timesheets Creation STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Timesheets Creation STF</label>
    <loops>
        <name>Employee_Loop</name>
        <label>Employee Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Timesheet_Master</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Timesheet_Masters</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Timesheet_Masters</name>
        <label>Create Timesheet Masters</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputReference>TimesheetMasterRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>User__c</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-03-20</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TimesheetMasterRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet__c</objectType>
    </variables>
    <variables>
        <name>TimesheetMasterRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Timesheet__c</objectType>
    </variables>
</Flow>
