Time Sheet/main/default/flows/TS_Record_Lock_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Absence_Record_Type_Assignment</name>
        <label>Absence Record Type Assignment</label>
        <locationX>264</locationX>
        <locationY>1812</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Absence_Records.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Absence_Locked_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Absence_Records.Stages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collected_Updated_Absence_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Attendance_Record_Type_Assigment</name>
        <label>Attendance Record Type Assigment</label>
        <locationX>264</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Attendance_Records.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Attendance_Locked_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Attendance_Records.Stages__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Updated_Attendance_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Updated_Attendance_Records</name>
        <label>Collect Updated Attendance Records</label>
        <locationX>264</locationX>
        <locationY>1356</locationY>
        <assignmentItems>
            <assignToReference>Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Attendance_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Attendance_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collected_Updated_Absence_Records</name>
        <label>Collected Updated Absence Records</label>
        <locationX>264</locationX>
        <locationY>1932</locationY>
        <assignmentItems>
            <assignToReference>Update_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Absence_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Absence_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Absence_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Absence Type</label>
        <locationX>176</locationX>
        <locationY>1572</locationY>
        <assignNextValueToReference>currentItem_Filter_Absence_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_TimeSheets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Absence_Type.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Absence_Record_Type.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Absence_Records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Attendance_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Attendance Type</label>
        <locationX>176</locationX>
        <locationY>996</locationY>
        <assignNextValueToReference>currentItem_Filter_Absence_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_TimeSheets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Absence_Type.RecordTypeId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Attendance_Record_Type.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Attendance_Records</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>Sunday</name>
        <dataType>Date</dataType>
        <expression>TODAY() - MOD(TODAY()- DATE(2022,11,20),7)-{!Get_MetaData_Type.Locking_record_days__c}</expression>
    </formulas>
    <interviewLabel>TS-Record Lock Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TS-Record Lock Flow</label>
    <loops>
        <name>Iterate_Absence_Records</name>
        <label>Iterate Absence Records</label>
        <locationX>176</locationX>
        <locationY>1692</locationY>
        <collectionReference>Filter_Absence_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Absence_Record_Type_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Timesheets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Attendance_Records</name>
        <label>Iterate Attendance Records</label>
        <locationX>176</locationX>
        <locationY>1116</locationY>
        <collectionReference>Filter_Attendance_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attendance_Record_Type_Assigment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Absence_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Absence_Locked_Record_Type</name>
        <label>Get Absence Locked Record Type</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attendance_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dbt__Time_Sheet__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Absence Type Locked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Absence_Record_Type</name>
        <label>Get Absence Record Type</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Absence_Locked_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dbt__Time_Sheet__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Absence Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attendance_Locked_Record_Type</name>
        <label>Get Attendance Locked Record Type</label>
        <locationX>176</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MetaData_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dbt__Time_Sheet__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendance Type Locked</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attendance_Record_Type</name>
        <label>Get Attendance Record Type</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Attendance_Locked_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>dbt__Time_Sheet__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attendance Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MetaData_Type</name>
        <label>Get MetaData Type</label>
        <locationX>176</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TimeSheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Value</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TimeSheet_Value__mdt</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TimeSheets</name>
        <label>Get TimeSheets</label>
        <locationX>176</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Attendance_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Sunday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Sheet__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Timesheets</name>
        <label>Update Timesheets</label>
        <locationX>176</locationX>
        <locationY>2148</locationY>
        <inputReference>Update_Collection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Absence_Record_Type</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-26</startDate>
            <startTime>04:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_atendence_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Absence_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
    <variables>
        <name>Update_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Sheet__c</objectType>
    </variables>
</Flow>
